---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: umami
spec:
  template:
    spec:
      containers:
        - name: umami
          image: docker.umami.is/umami-software/umami:3.0.0
          envFrom:
            - configMapRef:
                name: umami
            - secretRef:
                name: umami
          resources:
            requests:
              cpu: 100m
              memory: 512Mi
            limits:
              memory: 512Mi
